
/*----------------------*/
/*  ALGEMENE ELEMENTEN  */
/*----------------------*/

body{
    background-color: black;
}

a{
    text-decoration: none;
    color: black;
}


#container,footer,header{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
footer,header{
    background-color: #d2d69c;
}

/*----------------------*/
/*         HEADER       */
/*----------------------*/


header {
    position: fixed;
    top:0;
    box-shadow: 0px 10px 15px  #888888;
}

#top {
    display:inline-block;
    width: 100%;
    height: 175px;
}

#top img{
    width: 100%;
    height: 175px;
}

nav {
    background-color: #d2d69c;
}



/*----------------------*/
/*      DROPDOWN MENU   */
/*----------------------*/
nav {
    padding: 10px 0px 10px 0px;

}

nav a{
    padding: 10px 25px 10px 25px;

}


nav  ul {
    margin-top: 10px;
    display: none;
    position: absolute;

}
nav h2:hover, nav a:hover{
    background-color: rgb(210,234,156);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover ul{
    display: block;
    background-color: #d2d69c;
}
.dropdown li a{
    display: block;
}

/*----------------------*/
/*         CENTER       */
/*----------------------*/
#center {
    margin-top: 210px;
    margin-bottom: 50px;
    padding: 10px 25px 10px 25px;
    background-color: aliceblue;
    min-height: 40rem;
}

#center h1{
    font-size: 4rem;
    text-align: center;
    margin: 10px 0 15px 0;
}
#center h2:first-child{
    margin: 10px 0 10px 0;
}
#center h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#center h3{
    margin-bottom: 10px;
    font-size: 2rem;
    color: darkred;


}

#center p, #center dd{
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#center dt{
    font-size: 2rem;
    margin-bottom: 10px;
}

/*----------------------*/
/*       Login Form     */
/*----------------------*/
#loginForm{
    margin-top: 15rem;
    text-align: center;
}
.hidden{
    display: none;
}

/*----------------------*/
/*         Wall         */
/*----------------------*/

#wall{
    text-align: center;
}

/*----------------------*/
/*         FOOTER       */
/*----------------------*/

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 50px;
    box-shadow: 0px -10px 15px  #888888;
}

footer img{
    max-height: 100%;
}
